.header {
    margin-top: 45px;
}

.callicon {
    font-size: 25px;
    color: #175ba8;
}

.numbercustom {
    color: #f45842;
    font-size: 25px;
}

.alignment {
    margin-top: 13px;
}

.intro {
    margin-top: 35px;
    .sitelogo {
        font-size: 40px;
        color: #1d458a;
        text-decoration: none;
    }
}

.footersectionone {
    color: #0275da;
}