.header {
    margin-top: 45px;
}

.sitelogo {
    font-size: 40px;
    color: #1d458a;
    a {
        text-decoration: none;
    }
}

.callicon {
    font-size: 25px;
    color: #175ba8;
}

.numbercustom {
    color: #f45842;
    font-size: 25px;
}

.alignment {
    margin-top: 13px;
}